html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding:0;
    margin: 0;
}

.container {
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
    height: 100rem;
    display: flex;
    justify-content: center;
}


/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    max-width: 114rem;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.logo {
    margin-left: 4rem;
    height: 3.3rem;
}

.user-nav__explore {
    height: 2.25rem;
    width: 2.25rem;
}

.user-nav__favorite {
    
}

.user-nav__profile {
    height: 2.25rem;
    width: 2.25rem;
}

/* search */

.search {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    height: 1rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f4f2f2;
    margin-right: -3.5rem;
    padding: 1rem 1rem;
}

.search__input::-webkit-input-placeholder {
    color: #ccc;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
}

.search__icon {
    height: 2.25rem;
    fill:#ccc;
    width: 1.5rem;
}


/* user-nav  */
.user-nav {
    align-self: stretch;
    display: flex;
    flex: 0 0 15%;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;

}

.user-nav>* {
    padding: 2rem;
}

.user-nav__icon {
    height: 2.2rem;
    fill:rgb(102, 102, 102);
    width: 2.2rem;
}

/* ~ HEADER */

.main{
    display: flex;
    flex-direction: column;
}

.main-feed {
    /* width 이렇게 주는 이유? */
    width: 61.4rem;
    height: 59rem;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.feed-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-header__profile {
    display: flex;
    align-items: center;
}

.profile__shape--small {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 1rem;
}

.profile__shape--big {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 1rem;
}

.feed-header__profile--img {
    height: 100%;
    margin-left: 1rem;
    transform: translateX(-15%) ;
}

.feed-header__profile--name {
    margin-left: 1rem;
    font-size: 1.4rem;
}

.feed-header__menu--icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.feed-middle-img {
    width: 100%;
}

.feed-bottom {
    display: flex;
    flex-direction: column;
}   

.feed-bottom__engage {
    display: flex;
    justify-content: space-between;
}

.feed-bottom__engage--left {
    display: flex;
}

.feed-bottom__engage--icon {
    width: 3rem;
    height: 2.5rem;
    padding: .5rem;
}

.feed-bottom__likes {
    display: flex;
    align-items: center;
}

.feed-bottom__likes--img {
    width: auto;
    margin-left: 1rem;
    height: 100%;
    transform: translateX(-15%) ;
}

.feed-bottom__likes--text {
    padding-left: 1rem;
    font-size: 1.4rem;
}

.feed-bottom__comments {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.4rem;
}

.feed-bottom__comments--id {
    
}

.feed-bottom__comments--content {
    padding-left: 1rem;
}

.feed-bottom__time-notice {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-top: .2rem;
    padding-bottom: .5rem;
    color: grey;
}

.feed-bottom__form {
    display: flex;
    justify-content:space-between;
    border-top: 1px solid #e6e6e6;
}

.feed-bottom__comment-input {
    flex: 0 0 85%;
    height: 5rem;
    border: none;
}

.feed-bottom__comment-input::-webkit-input-placeholder {
    padding-left: 1rem;
}

.feed-bottom__comment-btn {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    margin-right: 2rem;
    font-weight: bold;
    color: #CBE4FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SIDE STORY */

.side {
    margin-top: 5rem;
    margin-left: 2.5rem;
    /* display: flex;
    flex-direction: column; */
}

.side__user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side__user-profile--img {
    width: auto;
    height: 100%;
    transform: translateX(-15%) ;
}

.side__user-profile--name {
    margin-left: 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.story-list {
    margin-top: 1.5rem;
    width: 30rem;
    height: 22rem;
    background-color: #fff;
    border: 1px solid #f0eeee;
    border-radius: 3px;
    overflow-y:scroll;    
}

.story-list__header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.story-list__header--title {
    font-size: 1.4rem;
    color: #333;
    margin-left: .3rem;
}

.story-list__header--notice {
    font-size: 1.2rem;
    font-weight: bold;
}

.story-list__item {
    display: flex;
    margin-bottom: 1.2rem;
}

.story-list__item--img {
    width: auto;
    height: 100%;
    transform: translateX(-25%) ;
    margin-left: 2rem;
}

.story-list__item--info {
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
}

.story-list__item--name {
    font-size: 1.4rem;
    color: #000;
}

.story-list__item--time {
    margin-top: .2rem;
    color: rgb(160, 160, 160);
}


/* SIDE RECOMMENDATION */

.recommendation {
    margin-top: 1.5rem;
    width: 30rem;
    height: 19.5rem;
    background-color: #fff;
    border: 1px solid #f0eeee;
    border-radius: 3px;
}

.recommendation__header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.recommendation__header--title {
    font-size: 1.4rem;
    color: #333;
    margin-left: .3rem;
}

.recommendation__header--notice {
    font-size: 1.2rem;
    font-weight: bold;
}

.recommendation__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.recommendation__item--img {
    width: auto;
    height: 100%;
    transform: translateX(-25%) ;
    margin-left: 2rem;
}

.recommendation__item--info {
    display: flex;
    flex-direction: column;
    margin-left: -4rem;
}

.recommendation__item--name {
    font-size: 1.4rem;
    color: #000;
}

.recommendation__item--follower {
    margin-top: .2rem;
    color: rgb(160, 160, 160);
}

.recommendation__item--follow-btn {
    margin-right: 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #3897F0;
    font-weight: 1000;
}