
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding:0;
    margin: 0;
}

.container {
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

.header {
    height: 8rem;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.logo {
    margin-left: 4rem;
    height: 3.3rem;
}

.user-nav__explore {
    height: 2.25rem;
    width: 2.25rem;
}

.user-nav__favorite {
    
}

.user-nav__profile {
    height: 2.25rem;
    width: 2.25rem;
}

/* search */

.search {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    height: 1rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f4f2f2;
    margin-right: -3.5rem;
    padding: 1rem 1rem;
}

.search__input::-webkit-input-placeholder {
    color: #ccc;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
}

.search__icon {
    height: 2.25rem;
    fill:#ccc;
    width: 1.5rem;
}


/* user-nav  */
.user-nav {
    align-self: stretch;
    display: flex;
    flex: 0 0 15%;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;

}

.user-nav>* {
    padding: 2rem;
}

.user-nav__icon {
    height: 2.2rem;
    fill:rgb(102, 102, 102);
    width: 2.2rem;
}

/* ~ HEADER */

/* main feed */
.main-feed {
    /* width 이렇게 주는 이유? */
    max-width: 61.4rem;
    width: 100%;
    height: 59rem;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.feed-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-header__profile {
    display: flex;
    align-items: center;
}

.feed-header__profile--img {
    width : 5rem;
    margin-left: 1rem;
}

.feed-header__profile--name {
    margin-left: 1rem;
    font-size: 1.4rem;
}

.feed-header__menu--icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.feed-middle-img {
    width: 100%;
}

.feed-bottom {

}

.feed-bottom__engage {
    display: flex;
    justify-content: space-between;
}

.feed-bottom__engage--left {
    display: flex;
}

.feed-bottom__engage--icon {
    width: 3rem;
    height: 2.5rem;
    padding: .5rem;
}

.feed-bottom__likes {
    display: flex;
    align-items: center;
}

.feed-bottom__likes--img {
    padding-left: 1rem;
    height: 3rem;
    width: auto;
}

.feed-bottom__likes--text {
    padding-left: 1rem;
    font-size: 1.4rem;
}

.feed-bottom__comments {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.4rem;
}

.feed-bottom__comments--id {
    
}

.feed-bottom__comments--content {
    padding-left: 1rem;
}

.feed-bottom__time-notice {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-top: .2rem;
    padding-bottom: .5rem;
    color: grey;
}

.feed-bottom__form {
    display: flex;
    justify-content:space-between;
    border-top: 1px solid #e6e6e6;
}

.feed-bottom__comment-input {
    flex: 0 0 85%;
    border: none;
}

.feed-bottom__comment-input::-webkit-input-placeholder {
    padding-left: 1rem;
}

.feed-bottom__comment-btn {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    margin-right: 2rem;
    font-weight: bold;
    color: #CBE4FB;
}
